<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.alibaba.seckill.dao.SeckillDao">

    <resultMap id="seckillMap" type="seckillGoods">
        <id column="sid" property="sid"></id>
        <result column="seckillPrice" property="seckillPrice"></result>
        <result column="beginTime" property="beginTime"></result>
        <result column="endTime" property="endTime"></result>
        <result column="seckillStock" property="seckillStock"></result>
        <result column="seckillUrl" property="seckillUrl"></result>
        <result column="version" property="version"></result>
        <association property="goods">
            <id column="gid" property="gid"></id>
            <result column="gname" property="gname"></result>
            <result column="imgPath" property="imgPath"></result>
            <result column="price" property="price"></result>
        </association>
    </resultMap>


    <select id="findAll" resultMap="seckillMap">
        select
        s.sid,
        s.seckillPrice,
        s.beginTime,
        s.endTime,
        s.seckillStock,
        s.seckillUrl,
        s.version,
        g.*
        from t_seckillgoods s
        inner join
        t_goods g
        on s.gid = g.gid;
    </select>

    <select id="findById" parameterType="int" resultMap="seckillMap">
        select
        s.sid,
        s.seckillPrice,
        s.beginTime,
        s.endTime,
        s.seckillStock,
        s.seckillUrl,
        s.version,
        g.*
        from t_seckillgoods s
        inner join
        t_goods g
        on s.gid = g.gid
        where s.sid = ${sid};
    </select>

    <update id="modifySeckillStock" parameterType="int">
        update t_seckillgoods set seckillStock = seckillStock - 1 where sid = #{sid}
    </update>

    <select id="getSeckillStock" parameterType="int" resultType="int">
        select seckillStock from t_seckillgoods where sid = #{sid}
    </select>

    <update id="modifySeckillUrl" parameterType="map">
        update t_seckillgoods set seckillUrl = #{url} where sid = #{sid}
    </update>

    <select id="findByIdForUpdate" parameterType="int" resultType="seckillGoods">
        select * from t_seckillgoods where sid = #{sid} for update;
    </select>

    <update id="updateByIdAndVersion" parameterType="map">
        update t_seckillgoods set seckillStock = seckillStock - 1, version = version + 1 where sid = #{sid} and version = #{version}
    </update>

</mapper>